{#
| Variable                                          | Type                | Description                                                    |
|---------------------------------------------------|---------------------|----------------------------------------------------------------|
| page                                              | object              |                                                                |
| page.title                                        | string              |                                                                |
| page.slug                                         | string              |                                                                |
| cart                                              | Cart                |                                                                |
| cart.id                                           | string              | Unique string for current cart                                 |
| cart.is_require_shipping                          | bool                | Does one of cart items require shipping?                       |
| cart.has_shipping                                 | bool                | Does shipping company selected?                                |
| cart.real_shipping_cost                           | float               | Shipping cost can become free by an offer, coupon              |
| cart.real_discount                                | float               | real discount considering tax (this for show only)             |
| cart.sub_total                                    | float               | The sum of items price without shipping or other costs         |
| cart.discount                                     | float               | final discount                                                 |
| cart.coupon                                       | ?string             |                                                                |
| cart.total                                        | float               |                                                                |
| cart.free_shipping_bar                            | ?object             |                                                                |
| cart.free_shipping_bar.minimum_amount             | float               | how much cart total should be to apply free shipping ex: 1000  |
| cart.free_shipping_bar.has_free_shipping          | bool                | true when `cart.free_shipping_bar.percent==100`                |
| cart.free_shipping_bar.percent                    | float               | `0 - 100`                                                      |
| cart.free_shipping_bar.remaining                  | float               | `830`                                                          |
| cart.items                                        | CartItem[]          |                                                                |
| cart.items[].id                                   | int                 |                                                                |
| cart.items[].is_hidden_quantity                   | bool                |                                                                |
| cart.items[].url                                  | string              | Product url                                                    |
| cart.items[].quantity                             | int                 |                                                                |
| cart.items[].type                                 | string              | product type                                                   |
| cart.items[].product_price                        | MoneyTaxable        |                                                                |
| cart.items[].price                                | Money\|MoneyTaxable |                                                                |
| cart.items[].total                                | Money               |                                                                |
| cart.items[].product_id                           | int                 |                                                                |
| cart.items[].notes                                | string              |                                                                |
| cart.items[].can_add_note                         | bool                |                                                                |
| cart.items[].can_upload_file                      | bool                |                                                                |
| cart.items[].is_available                         | bool                |                                                                |
| cart.items[].offer                                | ?object             |                                                                |
| cart.items[].offer.discount                       | float               |                                                                |
| cart.items[].offer.is_free                        | bool                |                                                                |
| cart.items[].offer.names                          | ?string             | ex: `Buy 3 and the 4th on us, National Day`                    |
| cart.items[].donation                             | ?object             |                                                                |
| cart.items[].attachments                          | ?array              |                                                                |
| cart.items[].attachments[].id                     | int                 | image id, to be attache with the formData                      |
| cart.items[].attachments[].url                    | string              | image url                                                      |
| cart.items[].attachments[].product_id             | int                 |                                                                |
| cart.items[].attachments[].item_id                | int                 |                                                                |
| cart.items[].attachments[].name                   | int                 | image file name                                                |
#}
{% extends "layouts.master" %}
{% block content %}
	<div
		class="container mt-3" id="cartFirstProgress">
		{# add breadcumbs container in pages to make a space in case breadcrumbs is off #}
		<div id="progressDiv" class="mb-5">
			<div class="progress-container">
				<div class="progress" id="progress"></div>
				<div class="circle active">1</div>
				<div class="circle" id="secondCircle">2</div>
				<div class="circle" id="thirdCircle">3</div>
			</div>
			<div class="row progressText">
				<a href="{{url("/cart")}}" style="text-decoration:none; color:black">
					<span class="active">السله</span>
				</a>
				<a href="{{url("/payment")}}" style="text-decoration:none; color:black">
					<span id="secondSpan">الدفع</span>
				</a>
				<a href="{{url("/shipping")}}" style="text-decoration:none; color:black">
					<span id="thirdSpan">التوصيل</span>
				</a>
			</div>
		</div>
		<h1 class="sr-only">{{ trans('blocks.header.cart') }}</h1>
		<div class="flex flex-col  lg:flex-row pb-6 lg:pb-20">
			<div class="main-content flex-1 w-full">
				{% hook 'cart:items.start' %}
				<table class="table " style="">
					<thead>
						<tr class="cart-item bg-white p-5 xs:p-7 rounded-md mb-5">
							<th scope="col" class="">الصنف</th>
							<th scope="col" class="col-3"></th>
							<th scope="col" class="col-3 ">الكمية</th>
							<th scope="col">سعر الوحده</th>
							<th scope="col">المجموع</th>
							<th scope="col"></th>
						</tr>
					</thead>
					{% for item in cart.items %}
						<tr>
							<th scope="row">
								<div class="productImage">
									<a href="{{ item.url }}" class="shrink-0">
										<img src="{{ 'images/s-empty.png' | asset }}" data-src="{{ item.product_image }}" alt="{{ item.product_name }}" class="lazy flex-none w-24 h-20 border border-gray-200 bg-gray-100 rounded-md object-center object-cover">
									</a>
								</div>
							</th>
							<td>
								<a href="{{ item.url }}" class="text-base">{{ item.product_name }}</a>
							</td>
							<td>
								<form onchange="salla.form.onChange('cart.updateItem', event)" id="item-{{ item.id }}">
									<input type="hidden" name="id" value="{{ item.id }}">

									{% if item.type == 'donating' %}
										<span></span>
									{% elseif item.is_hidden_quantity %}
										<input type="hidden" value="{{ item.quantity }}" name="quantity"/>
										<span class="w-10 text-center">{{ item.quantity }}</span>
									{% else %}
										<salla-quantity-input cart-item-id="{{ item.id }}" max="{{ product.max_quantity }}" class="transtion transition-color duration-300" value="{{ item.quantity }}" name="quantity"></salla-quantity-input>
									{% endif %}
								</form>
							</td>
							<td class="priceList">{{ item.product_price|money }}</td>
							<td class="priceList">{{ item.weight_label }}</td>
							<td>
								<salla-button type="button" shape="icon" size="small" color="danger" class="btn--delete" onclick="salla.cart.deleteItem({{ item.id }}).then(() => document.querySelector('#item-{{ item.id }}').remove())">
									<i class="sicon-cancel"></i>
								</salla-button>
							</td>
							{# {% else %}
																																																	<div class="no-content-placeholder">
																																																		<i class="sicon-shopping-bag icon"></i>
																																																		<p>{{ trans('pages.cart.empty_cart') }}</p>
																																																		<a href="{{ link('/') }}" class="btn btn--outline-primary btn--rounded-full">{{ trans('common.elements.back_home') }}</a>
																																																	</div> #}
						</tr>
					{% endfor %}
				</table>
				{% hook 'cart:items.end' %}
				<div class="row cartFooter ">
					{% hook 'cart:submit.start' %}
					<salla-button onclick="salla.cart.submit()" loader-position="center" width="wide">
						{{ trans('pages.cart.complete_order') }}
					</salla-button>
					{% hook 'cart:submit.end' %}
					<div class="promoCode row ml-3">
						<input class="form-control col " placeholder="برومو كود ">
						<i class="fa-solid fa-check" style="color: #99ba00;"></i>
					</div>

					<div class="col" style="text-align: center;">
						<p class="discountHeader">الخصم</p>
						<p class="discountValue">0 RS</p>
					</div>
					<p class="col summation">المجموع</p>
					<p class="col total">250 ر.س</p>
				</div>
			</div>

			{% hook 'cart:summary.start' %}

			<!-- sidebar -->
			{% if cart.items|length %}
				<div class="sticky top-24 w-full lg:w-96 rtl:lg:mr-8 ltr:lg:ml-8">
					<div class="shadow-default bg-white p-5 xs:p-7 rounded-md mb-5 relative {{ cart.free_shipping_bar ? '' : 'hidden' }}" id="free-shipping">
						<div class="flex rtl:space-x-reverse space-x-3 items-center">
							<i class="bg-primary text-white rounded-icon sicon-shipping-fast {{ theme.is_rtl ? 'flip-x':'' }}"></i>
							{% set is_free=cart.free_shipping_bar.has_free_shipping %}
							<div class="flex-1">
								<h4 class="shipping-item font-bold text-sm mb-1.5">{{ trans('pages.cart.free_shipping') }}</h4>
								<p class="shipping-item text-sm font- text-gray-400">
									<span id="free-shipping-msg">{{ (is_free
                                            ?trans('pages.cart.has_free_shipping')
                                            :trans('pages.cart.free_shipping_alert', {'amount': cart.free_shipping_bar.remaining|money}))
                                            | raw }}</span>
									<span class="emoji {{ is_free?'':'hidden' }}" id="free-shipping-applied">🎉</span>
								</p>
							</div>
						</div>
						<div class="mt-8 bg-border-color rounded-full {{ is_free ? ' hidden' : '' }}" id="free-shipping-bar">
							<div class="progress-bg transition-all duration-500 h-2.5 bg-primary relative rounded-full flex justify-end" style="width:{{ cart.free_shipping_bar.percent }}%">
								<i class="inline-block sicon-shipping-fast absolute -top-5 rtl:left-0 ltr:right-0 {{ theme.is_rtl ? 'flip-x':'' }}"></i>
							</div>
						</div>
					</div>
					{% if loyalty and user.loyalty_points %}
						<div class="shadow-default mb-5 rounded-md p-3 xs:p-7 bg-white">
							<salla-loyalty customer-points='{{ user.loyalty_points }}' prize-points='{{ loyalty.prize.points }}' prize-title='{{ loyalty.prize.title }}'></salla-loyalty>
						</div>
					{% endif %}

					<div class="shadow-default bg-white p-5 xs:p-7 rounded-md mb-5 relative transition-height duration-1000">
						<h4 class="font-bold text-sm mb-5">{{ trans('pages.cart.summary') }}</h4>

						<div class="flex justify-between text-sm mb-5">
							<span class="text-gray-400">{{ trans("pages.cart.items_total") }}</span>
							<b id="sub-total">{{ cart.sub_total|money }}</b>
						</div>

						<div id="shipping-cost" class="flex justify-between text-sm mb-5 {{ cart.has_shipping?'':'hidden' }}">
							<span class="text-gray-400">{{ trans('pages.cart.shipping_cost') }}</span>
							<b>{{ cart.real_shipping_cost|money }}</b>
						</div>

						{# todo :: use form #}
						{% if store.settings.cart.apply_coupon_enabled %}
							<div class="border-t border-gray-200 border-b py-5 mb-5">
								<label for="coupon" class="block text-sm ">{{ trans('pages.cart.have_coupon') }}</label>
								<div class="mt-2.5 relative">
									<input placeholder="{{ trans('pages.cart.coupon_placeholder') }}" {{ cart.coupon ? 'disabled':'' }} class="rtl:pl-24 ltr:pr-24 form-input" value="{{ cart.coupon }}" id="coupon-input" name="coupon" type="text">

									<salla-button class="btn--coupon {{ cart.coupon?'has-coupon btn--danger':'has-not-coupon btn--default' }}" loader-position="center" id="coupon-btn">
										<span class="coupon-text">{{ trans('pages.cart.save_coupon') }}</span>
										<i class="sicon-cancel icon text-xl w-8"></i>
									</salla-button>
								</div>
								<span class="text-xs text-red-700" id="coupon-error"></span>
							</div>
						{% endif %}

						<!-- coupon discount -->
						<div id="total-discount" class="flex justify-between text-sm {{ cart.discount?'':'hidden' }}">
							<span class="text-gray-400 block  h-10">{{ trans('pages.cart.discount') }}</span>
							<b>-
								{{ cart.real_discount|money }}</b>
						</div>

						<div class="flex justify-between text-lg mb-5">
							<span class="text-gray-400">{{ trans('pages.cart.final_total') }}</span>
							<b data-cart-total>{{ cart.total|money }}</b>
						</div>

						{% if store.settings.tax.taxable_prices_enabled %}
							<div class="flex justify-between text-sm mb-5">
								<small class="text-gray-400">
									*
									{{ trans('pages.cart.prices_taxed') }}
								</small>
							</div>
						{% endif %}

						<div class="cart-submit-wrap">
							{% hook 'cart:submit.start' %}
							<salla-button onclick="salla.cart.submit()" loader-position="center" width="wide">
								{{ trans('pages.cart.complete_order') }}
							</salla-button>
							{% hook 'cart:submit.end' %}
						</div>
						{% hook 'cart:summary.end' %}
					</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script defer src="{{ 'checkout.js' | asset }}"></script>
{% endblock %}
