{#
| Variable        | Type       | Description                                                      |
|-----------------|------------|------------------------------------------------------------------|
| display_all_url | ?string    | If it's existed, mean should show load more link to this url     |
| title           | string     |                                                                  |
| products        | Products[] |                                                                  |
| position        | Int        | Sorting number start from zero                                   |
| limit           | Int        | Number of products to be shown
#}
{% set is_vertical = theme.settings.get('vertical_fixed_products', true) %}
<section class="s-block container-fluid ">

	<div class="categories mt-3 mb-3">
		<h4 class="row mr-2">الاقسام</h4>
		<nav class="nav subCategories mb-5">
			<a class="nav-link active checked" href="#">عطور</a>
			<a class="nav-link unChecked" href="#">مكياج</a>
			<a class="nav-link unChecked" href="#">كريم</a>
		</nav>
		{# {% if title %}
						<div class="s-block__title">
							<div class="right-side">
								<h2>{{ title }}</h2>
							</div>
							{% if display_all_url %}
								<a href="{{ display_all_url }}" class="s-block__display-all">{{ trans('blocks.home.display_all') }}
									<i class="sicon-arrow-left"></i>
								</a>
							{% endif %}
						</div>
					{% endif %} #}

		{# <salla-products-list
						      source="selected"
						      limit="{{ limit }}"
						      source-value="[{{ products|map((product) => product.id)|join(',') }}]"
						      class="{{is_vertical ? 'vertical-products' : 'horizontal-products'}}"
						      {{is_vertical ? '' : 'horizontal-cards'}}
						      >
						    </salla-products-list> #}
		<div class="responsive">

			{% for product in products %}
				<div>
					<a href="{{product.url}}" style="text-decoration:none; color:black">
						<div class="card" style="">
							{% for image in product.images %}
								{% if loop.first %}
									<div class="prodImage"><img src="{{image.url}}" class="card-img-top" alt="..."></div>
								{% endif %}
							{% endfor %}
							<div class="card-body">
								<h5 class="card-title">عطر لا بانثير من كارتييه للنساء او دي بارفيوم</h5>
								<div class="rating_and_discount row">
									<div class="discount ">- {{product.discount_percentage|number_format }} %</div>
									<div class="rating mr-5">
										<i class="fa-solid fa-star-half-stroke"></i>4.5</div>
								</div>

							</div>

							<div class="row card-bottom">
								<p class="first">
									{{ product.price|money }}
									<span class="middle mr-2">
										{{ product.regular_price|money }}</span>
								</p>

								<div class="cartHome">
									<i class="fas fa-shopping-cart"></i>
								</div>

							</div>

							<div class="container topBadge" style="">
								<div class="row" style="justify-content: space-evenly" id="newInfo">
									<div class="newBadge ml-5 ">جديد</div>
									<div class="favourite mr-5">
										<i class="fa-regular fa-heart"></i>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>

			{% endfor %}
		</div>
	</div>
</section>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script type="text/javascript">
	$(document).ready(function () {
$('.responsive').slick({
dots: true,
arrow: false,
infinite: false,
speed: 300,
slidesToShow: 4,
slidesToScroll: 4,
rtl: true,
autoplay: false,
responsive: [
{
breakpoint: 1024,
settings: {
slidesToShow: 3,
slidesToScroll: 3,
infinite: true,
dots: true
}
}, {
breakpoint: 600,
settings: {
slidesToShow: 2,
slidesToScroll: 2
}
}, {
breakpoint: 375,
settings: {
slidesToShow: 4,
slidesToScroll: 4
}
}
// You can unslick at a given breakpoint now by adding:
// settings: "unslick"
// instead of a settings object
]
});

});
</script>
