{#
| Variable         | Type    | Description                     |
|------------------|---------|---------------------------------|
| cart             | object  |                                 |
| cart.items_count | int     |                                 |
| cart.total       | string  | Formatted total ex: "١٠٠ ر.س"   |
#}
<header class="store-header">
	{# Top Nav #}

	{# Main Nav #}
		<div id="mainnav" class="main-nav-container shadow-default bg-white header"> <div class="row" style="justify-content: space-between;    align-items: end;">
			<div class="logo col-6">
				<div class="row">
					<p style="margin-left:10px" id="modal" class="">
						<img src="{{asset("/images/3.png")}}">
					</p>

					<a href="{{url('/')}}"><img src="{{asset("/images/logo.png")}}"></a>
					<div class="headerContent col-6">
						<a href="" class="mr-4">تسجيل الدخول</a>
						<a href="" class="mr-4">حسابي</a>
						<a href="" class="mr-4">قائمة الامنيات</a>
					</div>
				</div>

			</div>
			<div class="search col-3" style="">
				<salla-search inline="true" height=""></salla-search>

			</div>
			<div
				class="">
				{# <a href="{{url("/cart")}}" style="text-decoration:none">
																	<div
																		class="shopping-cart-icon">
																		<i class="fa-solid fa-cart-shopping shopping-cart"></i>
																		<span class="button__badge">4</span>
												
																	</div>
																</a> #}
				<div class="shopping-cart-icon">
					<salla-cart-summary>
						<i slot="icon" class="fa-solid fa-cart-shopping shopping-cart"></i>
					</salla-cart-summary>
				</div>
			</div>
		</div>
	</div>
	<div class="modalToggle">
		<div class="row drawer">
			<div class="col drawerLinks">
				<a href="" class="mb-3">الرئيسية</a>
				<a href="" class="mb-3">الاقسام</a>
				<a href="" class="mb-3">السلة</a>
				<a href="" class="mb-3">قائمة الامنيات</a>
				<a href="" class="mb-3">حسابي</a>
				<a href="" class="mb-3">تسجيل الدخول</a>
			</div>
			<div
				class="col largeImage">{# <img src="{{asset("/images/largeLogo.png")}}" > #}
			</div>
		</div>
	</div>
	<div class="container-fluid headerResponsive mt-2 mb-2">
		<div class="row" style="justify-content:space-between;    align-items: end;">
			<div>
				<p style="margin-left:10px" id="modalResponsive" class="">
					<img src="{{asset("/images/3.png")}}">
				</p>
			</div>
			<div style="display:flex; align-items: center;">
				<a href="{{url("/")}}" class="ml-2"><img src="{{asset("/images/logo.png")}}"></a>
				<div class="shopping-cart-icon">
					<salla-cart-summary>
						<div class="shopping-cart-icon">
							<i slot="icon" class="fa-solid fa-cart-shopping shopping-cart"></i>
						</div>
					</salla-cart-summary>
				</div>
			</div>
		</div>
	</div>
	<div class="modalToggleResponsive">
		<div class="drawerResponsive">
			<div>
				<i class="fa-regular fa-circle-xmark mr-5"></i>
			</div>
			<div class="drawerLinksResponsive">
				<a href="" class="mb-3">الرئيسية</a>
				<a href="" class="mb-3">الاقسام</a>
				<a href="" class="mb-3">ابحث عن المنتجات</a>
				<a href="" class="mb-3">قائمة الامنيات</a>
				<a href="" class="mb-3">السلة</a>
				<a href="" class="mb-3">حسابي</a>
				<a href="" class="mb-3">تسجيل الدخول</a>
			</div>
			<div class="smallImage">
				<img src="{{asset("/images/smallImage.PNG")}}">
			</div>
		</div>
	</div>
</header>
<script>
	$(document).ready(function () {
var width = $(window).width();
if ((width <= 550)) {
$("#modalResponsive").click(function () {
$('.modalToggleResponsive').toggle();
});
} else {
$("#modal").click(function () {
$('.modalToggle').toggle();
});
}
$(".drawerResponsive i").on("click", function () {
$(".modalToggleResponsive").toggle();

});


});
</script>
{% if store.scope %}
	<salla-scopes selection="{{ store.scope.display_as == 'popup' ? 'mandatory' : 'optional' }}"></salla-scopes>
{% endif %}
